<% provide(:title, "Identification") %>

<h1>S'identifier</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div class="actions">
      	<%= f.submit "Identifiez-vous", class: "btn btn-large btn-primary" %>
      	<p>Pas encore inscrit(e) ? <%= link_to "Inscrivez-vous.", signup_path %></p>
      </div>
    <% end %>
  </div>
</div>