<% provide(:title, 'Inscription') %>

<h1>S'inscrire</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => rameur_registration_path(resource_name)) do |f| %>
  		<!-- <%= devise_error_messages! %> -->
      <% if @rameur.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <strong><%= pluralize(@rameur.errors.count, "erreur") %> :</strong>
            <ul>
              <% @rameur.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="field">
      	<br />
        <%= f.label :email %>
        <i>seul votre adresse email est nécessaire pour le moment</i>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="actions">
      	<br />
      	<div class="span2">
        	<%= f.submit "S'inscrire", class: "btn btn-large btn-primary" %>
      	</div>
      	<div class="span3">
      		<%= render "devise/shared/links" %>
      	</div>
      </div>
    <% end %>
  </div>
</div>

