<h1>Confirmation de la réservation <%= @reservation.id %></h1>
<p>
  Bonjour <%= @prenom %>,<br>
  La réservation a été confirmée au téléphone par <%= link_to @contact.nom, rameur_url(@contact.rameur) %>.
  <br><br>
  
  Voici les détails :<br>
  <strong>Jour:</strong> <%= @reservation.jour.strftime("%d/%m/%Y") %><br>
  <strong>Créneau:</strong> de <%= @reservation.creneau.debut.strftime("%H:%M") %>
  à <%= @reservation.creneau.fin.strftime("%H:%M") %><br>
  <strong>Aviron:</strong> <%= pluralize(@reservation.aviron.nbplaces, "place") %><br>
</p>
<p>
  Pour visualiser la réservation, suivez ce <%= link_to "lien", edit_reservation_url(@reservation) %>. Merci,
</p>
