<div class="row">
  <div class="span6 offset3">
    <%= form_for(@rameur) do |f| %>
      <% if @rameur.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <%= pluralize(@rameur.errors.count, "error") %> , impossible de sauvegrader ce rameur :
          </div>

          <ul>
          <% @rameur.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :nom %><br />
        <%= f.text_field :nom %>
      </div>
      <div class="field">
        <%= f.label :prenom %><br />
        <%= f.text_field :prenom %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
        <%= f.submit "Devenir membre", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>