<div class="row">
  <div class="span6 offset3">
    <%= form_for(@rameur) do |f| %>
      <% if @rameur.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <strong><%= pluralize(@rameur.errors.count, "erreur") %> :</strong>
            <ul>
              <% @rameur.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :nom %><br />
        <%= f.text_field :nom %>
      </div>
      <div class="field">
        <%= f.label :prenom %><br />
        <%= f.text_field :prenom %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password, "Mot de passe" %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
        <br />
        <% if from == "new" %>
          <%= f.submit "S'inscrire", class: "btn btn-large btn-primary" %>
        <% elsif from == "edit" %>
          <%= f.submit "Changer", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    <% end %>

    <% if from == "new" %>
      <p>Déjà inscrit(e) ? <%= link_to "Identifiez-vous.", signin_path %></p>
    <% end %>
  </div>
</div>