<h1>Listing des rameurs</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rameurs.each do |rameur| %>
    <tr>
      <td><%= rameur.nom %></td>
      <td><%= rameur.prenom %></td>
      <td><%= rameur.email %></td>
      <td><%= link_to 'Afficher', rameur %></td>
      <td><%= link_to 'Modifier', edit_rameur_path(rameur) %></td>
      <td><%= link_to 'Détruire', rameur, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Nouveau Rameur', new_rameur_path %>
