<% provide(:title, 'Rameurs') %>

<h1>Tous les rameurs</h1>

<p id="notice"><%= notice %></p>

<%= will_paginate %>

<ul class="users">
  <% @rameurs.each do |rameur| %>
    <div class="row">
      <div class="span1">
        <%= gravatar_for rameur %>
      </div>
      <div class="span3">
        <div>
          <strong><%= rameur.nom %></strong>
          <strong><%= rameur.prenom %></strong>
        </div>
        <div class="nav nav-pills">
          <!-- <%= link_to 'Contacter', "#" %> -->
          <% if current_rameur.admin? && !current_rameur?(rameur) %>
            <%= link_to 'Afficher', rameur %>
            <%= link_to 'Modifier', edit_rameur_path(rameur) %>
            <%= link_to 'Détruire', rameur, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>
          <% end %>
        </div>
      </div>
    </div>
    </br>
  <% end %>
</ul>

<br />

<%= will_paginate %>