<div class="row">
  <div class="span9 offset2">
    <%= form_for(@reservation) do |f| %>
      <% if @reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row reservations">
        <div class="span2 field">
          <%= f.label :jour %><br />
          <%= f.text_field :jour, class: "input-append date datepicker", value: default_jour(@reservation) %>
          <!-- div class="input-append date datepicker">
            <input size="16" type="text" value= <%= "06-05-2013" %> >
            <span class="add-on"><i class="icon-th"></i></span>
          </div -->
        </div>
        <div class="span4 field">
          <%= f.label :creneau_id %><br />
          <%= f.select :creneau_id, creneau_times %>
        </div>
        <div class="span2 field">
          <%= f.label :aviron_id %><br />
          <%= f.select :aviron_id, aviron_types %>
        </div>
        <!-- <div class="field">
          <%= f.label :confirmation %><br />
          <%= f.check_box :confirmation %>
        </div> -->
      </div>
      <div class="row">
        <div class="span2 offset3 actions">
          <br />
          <%= f.submit "Réserver", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
