<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>Jour</th>
      <th>Creaneau</th>
      <th>Aviron</th>
      <th>Confirmation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.jour %></td>
      <td><%= reservation.creaneau %></td>
      <td><%= reservation.aviron %></td>
      <td><%= reservation.confirmation %></td>
      <td><%= link_to 'Show', reservation %></td>
      <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
      <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
