<% provide(:title, 'Réservations') %>

<h1>Liste des réservations</h1>

<p id="notice"><%= notice %></p>

<%= will_paginate %>

<div class="center hero-unit">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Jour</th>
        <th>Créneau</th>
        <th>Aviron</th>
        <th>Rameurs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.jour.strftime("%d/%m/%y") %></td>
        <td><%= "#{reservation.creneau.debut.strftime('%H:%M')}-#{reservation.creneau.fin.strftime('%H:%M')}" %></td>
        <td><%= reservation.aviron.description %></td>
        <td>Mahdi, Ghada, Tarik, Maha</td>
        <td><button type="button" class="btn btn-small disabled">Participer</button></td>
      </tr>
      <% end %>
      <%= form_for(:reservation, url: reservations_path) do |f| %>
      <tr>
        <th>
          <div class="field">
            <%= f.select :jour, [["un", 1], ["deux", 2]] %>
          </div>
        </th>
        <th>
          <div class="field">
            <!-- use a helper here in order to get créneau times from database -->
            <%= f.select :creneau, [["un", 1], ["deux", 2]] %>
          </div>
        </th>
        <th>
          <div class="field">
            <!-- use a helper here in order to get avirons descriptions from database -->
            <%= f.select :aviron, [["simple", 1], ["double", 2], ["yolette", 4]] %>
          </div>
        </th>
        <th></th>
        <th>
          <%= f.submit "Réserver", class: "btn btn-small disabled" %>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br />

<%= will_paginate %>

<%= link_to 'New Reservation', new_reservation_path %>
