<% provide(:title, 'Réservations') %>

<h1>Liste des réservations</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Nouvelle Réservation', new_reservation_path %>

<%= will_paginate %>

<div class="center hero-unit">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Jour</th>
        <th>Créneau</th>
        <th>Aviron</th>
        <th>Rameurs</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="reservation">
      <% @reservations.each do |reservation| %>
        <% is_new_resa = is_new_reservation(reservation) %>
        <tr class=<%= "new_resa" if is_new_resa %> >
          <td><%= reservation.jour.strftime("%d/%m/%y") %></td>
          <td><%= "#{reservation.creneau.debut.strftime('%H:%M')}-#{reservation.creneau.fin.strftime('%H:%M')}" %></td>
          <td><%= reservation.aviron.description %></td>
          <td><%= equipage(reservation) %></td>
          <%= form_tag reservation_path(reservation), method: :put do %>
          <td>
            <%= submit_tag "Participer", disabled: !empty_place?(reservation) || already_subscribed?(current_rameur, reservation), class: "btn btn-small" %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br />

<%= will_paginate %>
