<% provide(:title, 'Réservations') %>

<h1>Liste des réservations</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Nouvelle Réservation', new_reservation_path %>

<%= will_paginate %>

<div class="center hero-unit">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Jour</th>
        <th>Créneau</th>
        <th>Aviron</th>
        <th>Rameurs</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="reservation">
      <% @reservations.each do |reservation| %>
      <tr>
        <% is_new_resa = is_new_reservation(reservation) %>
        <td class=<%= "new_resa" if is_new_resa %> >
          <%= reservation.jour.strftime("%d/%m/%y") %>
        </td>
        <td class=<%= "new_resa" if is_new_resa %> >
          <%= "#{reservation.creneau.debut.strftime('%H:%M')}-#{reservation.creneau.fin.strftime('%H:%M')}" %>
        </td>
        <td class=<%= "new_resa" if is_new_resa %> >
          <%= reservation.aviron.description %>
        </td>
        <td class=<%= "new_resa" if is_new_resa %> >
          Mahdi, Ghada, Tarik, Maha
        </td>
        <td>
          <button type="button" class="btn btn-small disabled">Participer</button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br />

<%= will_paginate %>
