<% provide(:title, "Réservation") %>

<% if notice %>
<div class="row">
	<div class="span8">
		<div id="notice">
			<p class="alert alert-success"><%= notice %></p>
		</div>
	</div>
</div>
<% end %>

<div class="row">
	<div class="span4">
		<h1>Réservation <%= @reservation.id %></h1>
	</div>
</div>

<div class="row">
	<div class="span5">
		<div class="span2">
		  <strong>Jour:</strong>
		</div>
		<div class="span2">
		  <%= @reservation.jour.strftime("%d/%m/%Y") %>
		</div>

		<div class="span2">
		  <strong>Créneau:</strong>
		</div>
		<div class="span2">
		  de
		  <%= @reservation.creneau.debut.strftime("%H:%M") %>
		  à
		  <%= @reservation.creneau.fin.strftime("%H:%M") %>
		</div>

		<div class="span2">
		  <strong>Aviron:</strong>
		</div>
		<div class="span2">
		  <%= pluralize(@reservation.aviron.nbplaces, "place") %>
		</div>

		<div class="span2">
		  <strong>Confirmation:</strong>
		</div>
		<div class="span2">
		  <%= reservation_confirmed?(@reservation) ? "oui, par téléphone" : "non" %>
		</div>
	</div>
	<div class="span3">
	  <% @reservation.rameurs.each do |rameur| %>
			<div class="row">
		  	<%= gravatar_for rameur %>
			  <br><%= link_to "#{rameur.nom} #{rameur.prenom}", rameur_path(rameur) %>
			</div>
			</br>
	  <% end %>
	</div>
</div>

<!-- %= link_to 'Edit', edit_reservation_path(@reservation) %> | -->
