<% provide(:title, 'Contact') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @contact, url: contact_path do |f| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            <strong><%= pluralize(@contact.errors.count, "erreur") %> :</strong>
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

		  <% if signed_in? %>
      	<div class="row">
       		<div class="span6 field">
          	<%= f.hidden_field :nom, value: "#{current_rameur.nom} #{current_rameur.prenom}" %>
			    </div>
			  </div>
			    
      	<div class="row">
			    <div class="span6 field">
	        	<%= f.hidden_field :email, value: current_rameur.email %>
			    </div>
			  </div>
		  <% else %>
		  	<div class="row">
			    <div class="span6 field">
			      <%= f.label :nom %><br />
			      <%= f.text_field :nom %>
			    </div>
			  </div>
			    
		  	<div class="row">
			    <div class="span6 field">
			      <%= f.label :email %><br />
			      <%= f.text_field :email %>
			    </div>
			  </div>
		  <% end %>

		  <div class="row">
		    <div class="span6 field">
		      <%= f.label :sujet %><br />
		      <%= f.text_field :subject %>
		    </div>
		  </div>
		    
		  <div class="row">
		    <div class="span6 field">
		      <%= f.label :message %><br />
		      <%= f.text_area :content %>
		    </div>
		  </div>
		  
		  <div class="row">
	      <div class="actions">
	      	<br />
	        <%= f.submit "Envoyer", class: "btn btn-large btn-primary" %>
	      </div>
	    </div>
		<% end %>
  </div>
</div>