<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "La Yolette Parisienne", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Rameurs",     rameurs_path %></li>
            <li><%= link_to "Résevations", reservations_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Mon compte <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil",           current_rameur %></li>
                <li><%= link_to "Paramètres",       edit_rameur_path(current_rameur) %></li>
                <li><%= link_to "Mes réservations", rameur_reservations_path(current_rameur) %></li>
                <li class="diviser"></li>
                <li>
                  <%= link_to "Déconnexion", signout_path, method: "delete" %>
                </li>
              </ul>
          <% else %>
            <li><%= link_to "S'identifier", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>